.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.underline-animation {
  position: relative;
}
.underline-animation::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-main);
  height: 1px;
  width: 100%;
  transform: scale(0);
  transform-origin: left;
  transition: all 300ms ease-in-out;
}
.underline-animation:hover::before {
  transform: scaleX(1);
  /* transform-origin: right; */
}

button:active,
button:hover,
button {
  border: 0;
}
ul{
  list-style: none;
}
.postionR{
  position: relative;
}